resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: harbor.cloud.netease.com/curve/curve-operator
  newName: harbor.cloud.netease.com/curve/curve-operator
  newTag: cd80cf5
